.landingPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(109, 109, 109);
    margin-top: 10vh;
    z-index: 1;
}

.name {
    position: fixed;
    top: 30%;
    /* left: 37%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    width: 500px;
    height: 400px;
    padding: 2%;
    color: rgb(100, 100, 100);
    box-shadow: 4px 4px 10px 4px rgb(162, 161, 161, 0.3);
    border-radius: 20px;
    background-color: rgb(213, 209, 209, 0.3);
    backdrop-filter: blur(15px);
    z-index: 3;
    outline: rgb(232, 232, 232);
    box-shadow: 0px 0px 20px 0px #fff9, 0px 0px 5px 0px #fff9, 7px 7px 20px 0px #0002, 7px 7px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

.circles::before {
    content: "";
    position: fixed;
    left: 30%;
    top: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(57, 132, 218);
    box-shadow: -14px -14px 20px 0px #fff9, -11px -11px 5px 0px #fff9, 7px 7px 20px 0px #0002, 7px 7px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

.circles::after {
    content: "";
    position: fixed;
    right: 30%;
    top: 60%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(131, 96, 157);
    box-shadow: -10px -10px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 10px 10px 20px 0px #0002, 10px 10px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

.name p {
    margin-top: 10%;
    text-indent: 5vh;
}